
  <div class="scoreBoard" >Your Score : 0 - Your Life: 30 - Wave: 1</div>
  <div class="next">Prepare for the next wave!</div>
  <div class="gameOver">
    Game Over
  </div>
  <div class="gameOver2">Try Again!</div>
  <div class="nameScore">
    Enter your name, record your score!
    <p>
  <form action="" method = "post" class="nameBox" id ='nameBox'>
    <input type="text" placeholder="Enter your name">
    <input type="hidden">
    <button class="btn primary medium" type="submit">Submit</button>
  </form>
  </div>

  <section class='game-box'>
  <h1 class="start">WELCOME TO STARBOMBER</h1>
  <h2 class="start startgame" id="clickStart">Click to start!</h2>
  <br>
  <div class="start" id="controls">Controls:</div>
  <div class="start" id="controls2">Arrow Keys, spacebar</div>
  <div class="start" id="instructions">
    Instructions: <br/>
    You control the blue ship. Survive as many waves as you can!
  </div>

  <h2 class="highScores" id="clickHighScores">High Scores</h2>

  </section>

  <section class='highScoreBox'>

  <div class="allScores">
    <h2>High Scores</h2>
    <p>
    <table class='score-table' style='width:75%'></table>
  </div>
  <h2 class="goBack" id="clickBack">Back</h2>
  <br>


  </section>
  <canvas class="canvas" id='can'></canvas>
  
  <script>
  $('.next').hide();
  $('.gameOver').hide();
  $('.gameOver2').hide();
  $('.nameScore').hide();
  $('.canvas').hide();
  $('.scoreBoard').hide();
  $('.messages').hide();
  $('.result').hide();
  $('.highScoreBox').hide();
  </script>


  <%= javascript_include_tag "keymaster.js" %>
  <%= javascript_include_tag "util.js" %>
  <%= javascript_include_tag "movingObject.js" %>
  <%= javascript_include_tag "asteroid.js" %>
  <%= javascript_include_tag "bullet.js" %>
  <%= javascript_include_tag "ship.js" %>
  <%= javascript_include_tag "enemy.js" %>
  <%= javascript_include_tag "guidebullet.js" %>
  <%= javascript_include_tag "ebullet.js" %>
  <%= javascript_include_tag "explosion.js" %>
  <%= javascript_include_tag "game.js" %>
  <%= javascript_include_tag "gameBg.js" %>
  <%= javascript_include_tag "gameView.js" %>



  <script>


    function getHighScores() {
      $.get(
        "api/records",
        function (data) {
          var records = data.map(function (record) {
          return "<tr><td>" + record.name + "</td>" + "<td>" + record.score + "</td></tr>";
          }).join("");

          $(".score-table").html(records);
        });
      };
  $('#clickHighScores').on("click", function () {

    getHighScores();
    $('.start').hide();
    $('.game-box').hide();
    $('.highScoreBox').show();

  });

  $('#clickBack').on("click", function () {
    $('.start').show();
    $('.game-box').show();
    $('.highScoreBox').hide();
  });
    $('#clickStart').on("click", function () {
    $('.scoreBoard').show();
    $('.game-box').hide();
    $('.canvas').show();
    $('.messages').show();

    (function () {
      var canvas1 = document.getElementsByTagName("canvas")[0];
      canvas1.width = Starbomber.Game.DIM_X;
      canvas1.height = Starbomber.Game.DIM_Y;
      var ctx1 = canvas1.getContext("2d");

      game = new Starbomber.Game();
      gameBg = new Starbomber.GameBg();
      new Starbomber.GameView(game, gameBg, ctx1).start();
    })();

    $('.gameOver2').on('click', function () {
   location.reload();
    })

    var nameForm = document.getElementById("nameBox");
    nameForm.addEventListener('submit', submitScore);

    function submitScore(e) {
      e.preventDefault();
      $.ajax({
        url: '/api/records',
        type: 'post',
        dataType: 'json',
        data: {
          name: e.currentTarget.elements[0].value,
          score: game.score
        },

        success: function (respData) {

          location.reload();
        }
      });
    }

    })




  </script>
